*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#f4f7fb;
}

.auth-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.auth-card{

  width:100%;
  max-width:430px;

  background:white;

  padding:40px;

  border-radius:20px;

  box-shadow:
  0 10px 30px
  rgba(0,0,0,.08);
}

.auth-card h1{
  text-align:center;
  color:#0f172a;
}

.auth-card p{
  text-align:center;
  margin-top:10px;
  margin-bottom:25px;
  color:#64748b;
}

.auth-card form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.auth-card input{

  height:50px;

  border:1px solid #dbe3ef;

  border-radius:10px;

  padding:0 15px;

  outline:none;
}

.auth-card input:focus{

  border-color:#2563eb;
}

.auth-card button{

  height:50px;

  border:none;

  border-radius:10px;

  background:#2563eb;

  color:white;

  cursor:pointer;

  font-size:16px;

  font-weight:600;
}

.auth-card button:hover{
  opacity:.9;
}

.auth-footer{

  margin-top:20px;

  text-align:center;
}

.auth-footer a{

  margin-left:5px;

  text-decoration:none;

  color:#2563eb;

  font-weight:600;
}